<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>홈화면</title>
</head>
{% extends 'base.html' %}

{% block content %}

<body>
    {% load socialaccount %}
    {% providers_media_js %}

    <a href="/accounts/signup">구글 회원가입</a>

    {% if user.user.is_authenticated %}
    <p>{{user.nickname}}님 반갑습니다.</p>
    <a href="{% url 'logout' %}">로그아웃</a>

    {% else %}
    <a href="{% url 'signup' %}">회원가입</a>
    <a href="{% url 'login' %}">로그인</a>
    <a href="{% provider_login_url 'google' %}">구글 로그인</a>
    <a href="{% provider_login_url 'facebook' %}">페이스북 로그인</a>
    <a href="{% provider_login_url 'kakao' %}">카카오 로그인</a>

    {% endif %}
    <br>
     <a href="{% url 'recommend' %}">추천</a>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            {% for blog in blogs.all %}
            <h1>{{blog.title}}</h1>
            <p>{{blog.money}}</p>
            <h5>{{blog.one_line}}</h5>
            {% if blog.image %}
            <img src="{{blog.image.url}}" alt="이미지가 없습니다." width="500" height="600">
            {% endif %}
            <h5>{{blog.seller}}</h5>
            <p>{{blog.content}}<a href="{% url 'detail' blog.id %}">...더보기</a></p>
            <p>{{blog.content_list}}</p>
            <p>#{{blog.tag1}} #{{blog.tag2}} #{{blog.tag3}} #{{blog.tag4}} #{{blog.tag4}} #{{blog.tag5}}</p>
            <br>
            <br>
            {% endfor %}
        </div>
    </div>



</body>
{% endblock %}


</html>