<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>홈화면</title>
</head>
<body>
    {% load socialaccount %}
    {% providers_media_js %}

    <a href="/accounts/signup">구글 회원가입</a>

    {% if user.user.is_authenticated %}
    <p>{{user.nickname}}님 반갑습니다.</p>
    <a href="{% url 'logout' %}">로그아웃</a>

    {% else %}
    <a href="{% url 'signup' %}">회원가입</a>
    <a href="{% url 'login' %}">로그인</a>
    <a href="{% provider_login_url 'google' %}">구글 로그인</a>

    {% endif %}

   

</body>
</html>