<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>게시판</title>>
    <script>
{% load post_extras %}
function url_copy(val) {
  var dummy = document.createElement("textarea");
  document.body.appendChild(dummy);
  dummy.value = val;
  dummy.select();
  document.execCommand("copy");
  document.body.removeChild(dummy);

  alert("클립보드에 복사되었습니다.");
}

function home(){
	location.href="/";
}
function update_page(){
	if ("{{user.is_authenticated}}" == "True"){
		if ("{{profile.nickname}}" == "{{dto.writer}}"){
		document.form1.action="update_page";
		document.form1.submit();
		}
		else
			alert("글쓴이가 아닙니다");
	}
	else
		alert("로그인이 필요합니다");

}
function del(){
	if ("{{user.is_authenticated}}" == "True"){
		if ("{{user.is_superuser}}" == "True" || "{{profile.nickname}}" == "{{dto.writer}}"){
			if(confirm("삭제하시겠습니까?")){
				document.form1.action="delete";
				document.form1.submit();
				}
		}
		else
			alert("글쓴이가 아닙니다");
	}
	else
		alert("로그인이 필요합니다");

}

    </script>
</head>
<body>
{% load static %}
<a href="/"><img src="{% static 'images/backsign.png' %}" width="50" height="50"></a><br>
<h2>게시물 내용</h2>
<form method="post" name="form1" enctype="multipart/form-data">
    <table border="1" width="700px">
        <tr>
            <td>이름</td>
            <td>{{dto.writer}}</td>
        </tr>
        <tr>
            <td>제목</td>
            <td>{{dto.title}}</td>
        </tr>
        <tr>
            <td>날짜</td>
            <td>{{dto.post_date}}</td>
        </tr>
        <tr>
            <td>조회수</td>
            <td>{{dto.hit}}</td>
        </tr>
        <tr>
            <td>찬반</td>
            <td>{{dto.rating}} (찬성 : {{dto.ratings_up}} 반대 : {{dto.ratings_down}})</td>
        </tr>
        <tr>
            <td>내용</td>
            <td>{{dto.content}}</td>
        </tr>
        <tr>
            <td>첨부파일</td>
            <td>
                {% if dto.filesize > 0 %}
                <a href="download?idx={{dto.idx}}">{{dto.filename}}</a>
                ( {{filesize}}KB)
                {% endif %}
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                {% if profile.nickname == dto.writer %}
                <input type="hidden" name="idx" value="{{dto.idx}}">
                <input type="button" value="목록" onclick="home()">
                <input type="button" value="수정" onclick="update_page()">
                <input type="button" value="삭제" onclick="del()">
                {% endif %}
            </td>
        </tr>
    </table>
</form>
<button onclick="url_copy('localhost/detail?idx={{dto.idx}}')">이 주제 공유하기</button>
</table>
</form>
</body>
</html>