<!DOCTYPE html>
<html>
<head>
    <title>profile</title>
    <script>
        function home(){
	    location.href="/";
        }
    </script>
<!--    <link rel="shortcut icon" type="image/x-icon" href="">-->
</head>
<body>
        <h1>프로필</h1>
        {% load static %}
        <a href="/"><img src="{% static 'images/backsign.png' %}" width="50" height="50"></a><br>
        {% if profile.profile_photo %}
        <div align="center">
        <h2>프로필 사진:</h2>
        <img src="{{profile.profile_photo.url}}" width="200"> <br>
        {% else %}
        {% load static %}
        <img src="{% static 'images/file.gif' %}" width="200"> <br>
        {% endif %}
        {% if profile.nickname %}
        <h2>닉네임 : {{profile.nickname}}</h2>
        {% endif %}
        {% if profile.introduction %}
        <h2>소개 : {{profile.introduction}}</h2>
        {% endif %}
        </div>


        {% if user == profile_user %}
        <div style="position:relative; bottom:0;"><a href="/profile_update">
            <button type="button">프로필 편집</button></a></div>
        {% endif %}
</body>
</html>