<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href='{% static "background.css" %}'>
</head>
<body>
    {% include 'header.html' %}
    <div>
        <p class="text-center" style="margin:10px">검색결과 : <b>"{{query}}"</b></p>
    </div>

    <div class="pdf">
        {% for blog in blogs %}
        <div class="like">
            <a class="img1-1" href="{% url 'detail' blog.id %}"><div class="img1"></div><div class="heart">
                {% if blog in account.like_blog.all %}
                <a href="{% url 'like' blog.id %}">
                    <img src="{% static 'img/heart-pick.png' %}" alt="">
                </a>
                {% else %}
                <a href="{% url 'like' blog.id %}">
                    <img src="{% static 'img/heart-nonpick.png' %}" alt="">
                </a>
                {% endif %}
            </div><p>{{blog.title}}</p>
            </a>
            <p class="img1-2">{{blog.one_line}}</p>
            <div class="hashtags">
                <a class="hashtag" href="">#{{blog.category}}</a>
            </div>
        </div>
        {% empty %}
        <div class=" row mx-auto">
            <p class="text-center my_search_text">0 result found.</p>
        </div>
        {% endfor %}
    </div>
</body>
</html>