<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>리뷰&별점</title>
</head>

<body>
    <h1>후기</h1>
    <form name="reviewform" class="reviewform" method="post">
        <h3>별점과 리뷰를 남겨주세요.</h3>
        <form class="review_rating">
            <p>별점</p>
            <input type="range" name="review_rating" min="0" max="5" step="1">
        </form>
        <div class="review_content">
            <textarea name="review_content" id="review_content" cols="30" rows="10" placeholder="리뷰를 남겨주세요."></textarea>
        </div>

        <input type="submit" value="제출하기">

    </form>






</body>

</html>